@media (max-width: 1024px) {
    .hero-section h1 {
      font-size: 68px;
    }
   
  
    .main-div {
      border-bottom-right-radius: 120px;
      border-bottom-left-radius: 120px;
    }
    .notedivs {
      flex-wrap: wrap;
      justify-content: center;
    }
  }



  @media (max-width: 768px) {
      iframe#youtubeFrame {
          height: 270px;
      }
      .notediv {
        display: flex;
        align-items: center;
        gap: 5px;
    }

      img.youtubeplaybtn {

        width: 40px;
      }

    .main-div {
      border-bottom-right-radius: 50px !important;
      border-bottom-left-radius: 50px !important;
    }
    .navlinks,
    .header-button {
      display: none;
    }
    .about-content {
      margin-top: 30px;
    }
    .hero-section h1 {
      font-size: 36px;
    }
    .hamburger {
      display: flex;
    }
    .about-all-content p {
      font-size: 18px;
      line-height: 40px;
    }
  
    .about-extra-content h4 {
      font-size: 18px;
    }
  
    .notediv {
      font-size: 14px;
    }
  
    .about-content h5 {
      font-size: 18px;
    }
  
    .video-controls {
      padding: 7.735px;
      border-radius: 33.84px;
    }
    .copyright-text p {
      font-size: 12px;
    }
  
    #playButton,
    #pauseButton {
      margin: 0px;
    }
  
    .header-buttons a {
      padding: 8.702px;
      font-size: 14px;
    }
    p.content {
      font-size: 12px;
    }
  
    .about-all-content h6 {
      font-size: 22px;
      padding: 7.268px 8.176px;
    }
  
    .about-content {
      margin-bottom: 269px;
    }
  
    .main-footer-section {
  
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
    }
    .youtubevideo img {
      border-radius: 23px;
    }
  }
  
  
  
  @media (max-width: 520px) {
    .footer-section {
      margin-top: 78px;
    }
    .about-content {
      margin-bottom: 200px;
    }
  
    .video-controls p {
      font-size: 12px;
    }
    .modal-content {
      padding: 20px;
    }
  
    .input-group {
      flex-direction: column;
    }
  
    div#modal {
      padding: 14px;
    }
  
    .modal input,
    .modal select {
      height: 36.299px;
      border-radius: 6.988px;
      font-size: 12px;
    }
  
    .input-group {
      gap: 0;
    }
  
    .modal-content {
      border-radius: 13px;
    }
  
    .modal-content h2 {
      margin-bottom: 15px;
      font-size: 13.976px;
    }
  
    button.buttons {
      padding: 7.92px 17.237px;
      border-radius: 23.293px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 1094px) {
      .main-footer-section {
          height: 560px;
      }
  }
  @media (max-width: 917px) {
      .main-footer-section {
          height: 447px;
      }
      iframe#youtubeFrame {
        height: 486px;
    }
  }
  
  @media (max-width: 774px) {
      .main-footer-section {
          height: 349px;
      }
      iframe#youtubeFrame {
        height: 403px;
    }
  }
  @media (max-width: 586px) {
      .main-footer-section {
          height: 283px;
      }
      iframe#youtubeFrame {
        height: 266px;
    }
  }
  @media (max-width: 420px) {
      .controlsdiv {
          gap:7px
      }
      .video-controls {
          gap: 7px;
      }
  
  }
  @media (max-width: 397px) {
      .main-footer-section {
          height: 243px;
      }

      iframe#youtubeFrame {
        height: 194px;
    }

      .container {
          padding: 15px;
      }
      .header-buttons a{
          font-size:7px
      }
      
      p.content {
          font-size: 10px;
      }
      .video-controls p{
          font-size:10px
      }
  
      .footer-section {
          margin-top: 131px;
      }
      .about-content {
          margin-bottom: 170px;
      }
      .copyright-text {
          margin-top: 50px;
      }
      
  
  }