

iframe#youtubeFrame {
    width: 100%;
    height: 710px;
}

body {
  font-family: grifter;
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logonav {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navlinks {
  display: flex;
  gap: 25px;
}

.navlinks a {
  text-decoration: none;
  color: #fff;
  font-family: gilory;
  font-size: 18px;
  font-weight: 400;
}
.navlinks h4 a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: gilory;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.navlinks h4 a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #ff9f00;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navlinks h4 a:hover {
  color: #ff9f00;
}

.navlinks h4 a:hover::after {
  width: 100%;
}


.header-button a {
  padding: 18px;
  border-radius: 70px;
  background: #ff9f00;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: gilory;
  border: 1px solid #ff9f00;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.header-button a:hover {
  background: transparent;
  color: #ff9f00;
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 159, 0, 0.5);
}

.header-buttons a {
  padding: 18px;
  border-radius: 70px;
  background: #ff9f00;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: gilory;
  border: 1px solid #ff9f00;
}
.header-buttons a:hover {
  background: transparent;
  color: #ff9f00;
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 159, 0, 0.5);
}


.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
  gap: 30px;
}

.hero-section h1 {
  color: #fff;
  font-size: 86px;
  font-weight: 700;
  line-height: normal;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: #fff;
}
.navlinkss {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: anchor-center;
  height: 187px;
}




.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(11px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 111111;
}

.mobile-menu a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.mobile-menu .header-button a {
  font-size: 20px;
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.hero-section img {
  width: 100%;
}
.about-content {
  margin-top: 50px;
  margin-bottom: 325px;
}

.about-content h5 {
  color: #5d1eb4;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  font-family: "Bricolage Grotesque";
  margin-bottom: 30px;
}

.about-all-content h6 {
  border-radius: 10px;
  border: 1px solid #f19f19;
  background: rgba(241, 159, 25, 0.15);
  padding: 16px 18px;
  color: #3b3b3b;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  font-family: gilory-semibold;
}

.about-all-content p {
  color: #777;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  font-family: gilory;
}

span.blue {
  background: #0433fe;
  padding: 6px;
  border-radius: 15px;
  color: white;
  font-family: gilory-extra;
}

span.yellow {
  background: #f19f19;
  padding: 8px;
  border-radius: 15px;
  color: white;
  font-family: gilory-extra;
}

span.weeks {
  background: #5d1eb4;
  padding: 8px;
  border-radius: 15px;
  color: white;
  font-family: gilory-extra;
}

.notediv {
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.1);
  padding: 14px 35px;
  color: #777;
  font-family: "Bricolage Grotesque";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.notedivs {
  display: flex;
  gap: 20px;
}

.about-all-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-extra-content h4 {
  color: #3b3b3b;
  text-align: center;
  font-family: "Bricolage Grotesque";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.youtubevideo {
  position: relative;
  margin: auto;

  margin-top: -283px;
}

.youtubevideo img {
  width: 100%;
  cursor: pointer;
  border-radius: 47.04px;
}

.video-controls {
  margin-top: 10px;
}

#playButton,
#pauseButton {
  width: 27.143px;
  height: 27.143px;

  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
}

button:hover {
  /* background-color: #cc0000; */
}
.main-footer-section {
  background-image: url(footerbg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 680px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}
.video-controls {
  padding: 16px;
  border-radius: 70px;
  border: 1px solid #1af085;
cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.video-controls:hover {
  background-color: #1af0856e;
}



.container {
  position: relative; 

}



.mainfootervideo-contrls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.video-controls p {
  color: #fff;
  text-align: center;
  font-family: gilory;
  font-size: 18px;
  font-weight: 400;
}
.controlsdiv {
  display: flex;
  align-items: center;
  gap: 20px;
}
p.content {
  color: #fff;
  font-family: gilory-semibold;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
}
.copyright-text {
  margin-top: 70px;
}

.copyright-text p {
  color: #fff;
  text-align: center;
  font-family: gilory;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}

.modal input,
.modal select {
  height: 77.919px;
  border-radius: 15px;
  color: #868686;
  font-family: gilory;
}
.modal-content h2 {
  color: #3b3b3b;
  font-family: "Bricolage Grotesque";
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 40px;
}

.input-group {
  display: flex;
  gap: 18px;
}

.buttons {
  color: #000;
  font-family: "Bricolage Grotesque";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;
  background: #fccf36;
  display: flex;
  padding: 17px 37px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  margin-top: 12px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(252, 207, 54, 0.4);
}
img.youtubeplaybtn {
  width: 70px;
  border-radius: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-24px, 3px);
}

.buttons:hover {
  background: #ffb800;
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(252, 207, 54, 0.6);
  color: #fff;
}

.header-buttonss.open-modal.mobile-resp {
  padding: 14px;
border-radius: 70px;
background: #ff9f00;
text-decoration: none;
color: #fff;
font-size: 18px;
border: 1px solid #ff9f00;
font-family: grifter !important;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(11px);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 50px;
  border-radius: 50px;
  width: 820px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.modal input,
.modal select {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background: #f1c40f;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Close Button */
.close-modal {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

